services:
  postgres_db:  
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - apps_data:/var/lib/postgresql/data 
    networks:
      - shared_network

networks:
  shared_network:
    external: true  

volumes:
  apps_data:
    external: true 
